<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard_Admin</title>

    <link rel="stylesheet" href="{% static 'css_admin/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

</head>

<body>
    {% include 'activities/NavAdmin.html' %}
    <div class="headtext">Dashboard</div>

    <hr>
    <br>
    <div class="cards">
        <div class="card1" id="pending">
            <i class="bi bi-alarm-fill bi-10x"></i>
            <div class="dta">
                <a href="/approval">
                    <h1 class="counts">{{count01}}</h1>
                </a>

                <h1 class="tit">Pending</h1>
            </div>

        </div>
        <br>
        <div class="card1" id="enrolled">
            <i class="bi bi-card-checklist"></i>
            <div class="dta">
                <h1 class="counts">{{count02}}</h1>
                <h1 class="tit">Enrolled</h1>
            </div>
        </div>
        <br>
        <div class="card1" id="rotc">
            <i class="bi bi-people-fill"></i>
            <div class="dta">
                <a href="/enrolledrotc">
                    <h1 class="counts">{{count03}}</h1>
                </a>

                <h1 class="tit">ROTC</h1>
            </div>
        </div>
        <div class="card1" id="cwts">
            <i class="bi bi-people-fill"></i>
            <div class="dta">
                <h1 class="counts">{{count04}}</h1>
                <h1 class="tit">CWTS</h1>
            </div>
        </div>




    </div>







</body>

</html>