<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link rel="stylesheet" href="#">
</head>

<body>
    <div class="line1">
        <div class="line2">
            <div class="line3">
                {% comment %} {% for k in pd %} {% endcomment %}

                <p>{{pd}}</p>

                {% comment %} {% endfor %} {% endcomment %}
            </div>

        </div>

    </div>


</body>

</html>