<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certification</title>
    <link rel="stylesheet" href="{% static 'css/cert.css' %}">




</head>

<body>
    {% include 'activities/studentnav.html' %}
    <div class="text">

        <h1 class="headtext">Certification / Serial Number</h1>


    </div>
    <hr>

    <!-- Form -->


    <div class="container">
        <form action="{% url 'activities:cert' %}" method="post">
            {% csrf_token %}

            <label for="lname" id="date_req">DATE REQUESTED</label><br>
            <input type="date" id="lname" name="cert_datereq" placeholder="date" required>
            <br> &nbsp;
            <br>
            <div class="req_doc">
                <label for="lname" id="req_doc">REQUESTED DOCUMENT:</label>
                <input type="text" id="document" name="cert_document" placeholder="Ex: Serial Number" required>
                <input type="submit" id="btn_submit" value="Submit">
            </div>

            <br>

            <div class="status">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">NAME</th>
                            <th scope="col">DATE REQUESTED</th>
                            <th scope="col">REQUESTED DOCUMENT</th>
                            <th scope="col">STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in requests %}
                        <tr>
                            <th scope="row">{{i.fname}} {{i.lname}}</th>
                            <td>{{i.cert_datereq}}</td>
                            <td>{{i.cert_document}}</td>
                            <td>{{i.cert_status}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </div>

        </form>
    </div>







    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script> -->

</body>

</html>