<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email</title>
    <link rel="stylesheet" href="{% static 'css_admin/email.css' %}">

</head>

<body>
    {% include 'activities/NavAdmin.html' %}
    <div class="headtext">Send Email</div>
    <hr>



    <div class="tableCon">
        <form action="{% url 'activities:sendmail_confirm' %}" method="post">
            <div class="divv">
                <span class="sss"><input type="checkbox" onclick="toggle(this)" name="select-all" id="select-all">   Select All</span>
                <button type="submit" class="btn btn-success" id="send">Send Email</button>
            </div>&nbsp;

            <br>
            <table class="table1 table table-striped " id="myTable" data-filter-control="true" data-show-search-clear-button="true">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">EMAIL</th>
                        <th scope="col">FULLNAME</th>
                        <th scope="col">COURSE</th>
                        <th scope="col">REQUESTED DOCUMENT</th>
                        <th scope="col">APPOINTMENT DATE</th>
                        <th scope="col">STATUS</th>

                        <th scope="col" class="text-center">EMAIL</th>


                    </tr>
                </thead>
                <tbody>
                    {% for k in hehe %} {% csrf_token %}
                    <tr>
                        <th scope="row">
                            <a href="{% url 'activities:custemail' k.id%}" target="_self" title="Click to compose custom Email"><input type="checkbox" name="checked" value="{{k.email}}">&nbsp;{{k.email}}</a>
                        </th>
        </form>

        <td id="certname" name="fullname">{{k.fname}} {{k.lname}}</td>
        <td>{{k.section}}</td>
        <td name="docum">{{k.cert_document}}</td>
        <td name="datereq">{{k.cert_datereq}}</td>



        <td style="color:rgb(43, 162, 4)">{{k.cert_status}}</td>
        <form action="{% url 'activities:sendmail_manual' %}" method="post">
            {% csrf_token %}
            <td id="bttt"><input type="hidden" name="chec" value="{{k.email}}"><a><button type="submit" class="btn btn-warning" >{{k.grades}}</button></a></td>
        </form>
        </tr>







        {% endfor %}

        </tbody>

        </table>
        <hr>

    </div>


    <script>
        $('#select-all').click(function(event) {
            if (this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function() {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function() {
                    this.checked = false;
                });
            }
        });
    </script>


</body>

</html>