<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People(ROTC)</title>

    <link rel="stylesheet" href="{% static 'css_admin/enrolledrotc.css' %}">

</head>

<body>
    {% include 'activities/NavAdmin.html' %}<br>
    <h1 class="Head">Platoon Assigning</h1>

    <div class="count">
        <h1 class="stats">Statistics</h1>
        <div class="group">
            <div class="cards">
                <h2 class="title">Alpha</h2>
                <h2 class="text-center">{{ count1 }}</h2>
            </div>
            <div class="cards">
                <h2 class="title">Bravo</h2>
                <h2 class="text-center">{{ count2 }}</h2>
            </div>
            <div class="cards">
                <h2 class="title">Charlie</h2>
                <h2 class="text-center">{{ count3 }}</h2>

            </div>
            <div class="cards">
                <h2 class="title">Delta</h2>
                <h2 class="text-center">{{ count4 }}</h2>

            </div>
            <div class="cards">
                <h2 class="title">Echo</h2>
                <h2 class="text-center">{{ count5 }}</h2>

            </div>
            <div class="cards">
                <h2 class="title">Foxtrot</h2>
                <h2 class="text-center">{{ count6 }}</h2>

            </div>
            <div class="cards">
                <h2 class="title">Golf</h2>
                <h2 class="text-center">{{ count7 }}</h2>

            </div>
            <div class="cards">
                <h2 class="title">Hotel</h2>
                <h2 class="text-center">{{ count8 }}</h2>

            </div>
            <div class="cards">
                <h2 class="title">India</h2>
                <h2 class="text-center">{{ count9 }}</h2>

            </div>
            <div class="cards">
                <h2 class="title">Juliet</h2>
                <h2 class="text-center">{{ count10 }}</h2>

            </div>
            <div class="cards">
                <h2 class="title">Kilo</h2>
                <h2 class="text-center">{{ count11 }}</h2>

            </div>
            <div class="cards">
                <h2 class="title">Lima</h2>
                <h2 class="text-center">{{ count12 }}</h2>

            </div>


        </div>



    </div>
    <div class="containers">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Full name</th>
                    <th>Course</th>
                    <th>Email</th>
                    <th>Platoon</th>
                    <!-- <th>Grade</th> -->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in sheesh %}
                <tr>
                    <th scope="row">{{i.fname}} {{i.lname}}</th>
                    <td>{{i.section}}</td>
                    <td>{{i.email}}</td>
                    <form action="{% url 'activities:platoonupdate' %}" method="POST">
                        {% csrf_token %}
                        <td>
                            <select style="width: 100px;" name="plat"> 
                        <option value="{{i.platoon}}"  selected>{{i.platoon}}</option>
                            <option>Alpha</option>
                            <option>Bravo</option>
                            <option>Charlie</option>
                            <option>Delta</option>
                            <option>Echo</option>
                            <option>Foxtrot</option>
                            <option>Golf</option>
                            <option>Hotel</option>
                            <option>India</option>
                            <option>Juliet</option>
                            <option>Kilo</option>
                            <option>Lima</option>
                        </select>
                        </td>
                        <!-- <td><input type="text" name="grade" value="{{i.grades}}" style="color: rgb(0, 0, 0); width:100px;"></td> -->

                        <td><input type="hidden" name="getID" value="{{i.id}}"><button class="update" id="submit" onclick="status()" type="submit"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgb(8, 162, 0);">UPDATE</i></button>
                            <!-- %} <button class="delete" disabled><a href="#" id="delete" style="text-decoration: none;" name="delete"><i class="fa fa-trash" aria-hidden="true" style="color: rgb(175, 22, 22);">DELETE</i></a></button>  -->


                        </td>
                    </form>

                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>

</body>

</html>