<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foxtrot</title>
    <link rel="stylesheet" href="{% static 'css/alpha.css' %}">
    <!-- <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'> -->

</head>

<body>
    {% include 'activities/base.html' %}
    <div class="text">

        <h1 class="headtext">Foxtrot</h1>


    </div>
    <hr>
    <div class="files">
        <a href="/student_foxtrot" class="refresh" style="text-decoration: none;">
            <box-icon name="refresh" color="#ffffff" class="icoon"></box-icon>
            <p class="rfs">Refresh</p>
        </a>&nbsp;<br><br><br>


        <div class="division">
            <div class="res">
                <box-icon name='folder'></box-icon>
                <h1 class="alphafiles">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Foxtrot Files</h1>
            </div>
            &nbsp;<br>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Download</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for file in foxtrot_display %}
                        <tr>
                            <th scope="row">{{file.name}}</th>
                            <td>{{file.date}}</td>
                            <td>{% if file.pdf %}
                                <button class="pdf"><a style="text-decoration:none" href="{{file.pdf.url}}" target="__blank">DOWNLOAD</a></button> {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>




    </div>






    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

</body>

</html>