<!DOCTYPE html> {% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>Inside Card2</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_card2.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <!-- NAVBAR -->

    {% include 'activities/navlanding.html' %}
    <!-- end nav -->



    <div class="hhead">
        <h1>ROTC</h1>
    </div>

    <div class="row">
        <div class="left-column">
            <div class="card">
                <h2>About ROTC</h2>
                <h5></h5>
                <img src="{% static 'image/mid.jpg' %}" alt="blog " />
                <h4>Reserve Officers' Training Corps (ROTC)</h4>
                <p>Reserve Officers' Training Corps (ROTC) in the Philippines is one of three components of the National Service Training Program, the civic education and defense preparedness program for Filipino college students. ROTC aims to provide military
                    education and training for students to mobilize them for national defense preparedness. Its specific objectives include preparation of college students for service in the Armed Forces of the Philippines in the event of an emergency
                    and their training to become reservists and potential commissioned officers of the AFP. <br> <br> Graduates of the ROTC advance program serve in all branches of the Armed Forces of the Philippines. In 2008, ROTC graduates of the officer
                    candidate schools of the various services constituted roughly 75% of the AFP officer corps. The ROTC grants qualified student-cadets scholarship benefits through a merit-based incentive program in return for an obligation of military
                    service in the reserve force, or active duty in the AFP if given the opportunity, after graduation. <br> <br> ROTC student-cadets attend college like other students, but also receive basic military training and officer training from
                    the branch of service that handles their school's ROTC unit. The students participate in regular ROTC instruction during the school year (one school year for Basic ROTC student-cadets and three school years for Advance ROTC cadet-officers),
                    and extended training activities during the summer, such as the ROTC Summer Camp Training (RSCT) and the Advance ROTC Academic Phase Training (ARAPT). <br> <br> ROTC units in colleges and universities are organized through the Department
                    of Military Science and Tactics (DMST) which is under joint supervision by the school administration and the Department of National Defense. These ROTC units are in turn managed by active duty officers of the AFP and the reservist
                    organization representatives of the major services, the Philippine Army Reserve Command of the Philippine Army, the Philippine Navy Reserve Command of the Philippine Navy and the Philippine Air Force Reserve Command of the Philippine
                    Air Force.
                </p>









            </div>
            <div class="card">
                
                <h5>...</h5>
                <img src="{% static 'image/bot.jpg' %}" alt="blog " />
                <h4></h4>
                <h2>Basic ROTC</h2>
                <p>Basic ROTC focuses on equipping its graduates with the five fundamental skills of LEAD, SHOOT, MOVE, NAVIGATE, and COMMUNICATE. These five skills are embedded in lectures and training held under the two Military Science courses to be taken
                    under Basic ROTC: Military Science 1 and Military Science 2. <br> <br> Throughout the Corps Year, while training to acquire the competencies mentioned above, Basic Cadets will be able to participate in activities such as Camp Visits,
                    Sportfest, and Cadet’s Ball. Such activities boost morale and strengthen camaraderie of cadets. Another activity is the Regional Annual Administrative and Tactical Inspection (RAATI), this gives the cadets the chance to represent the
                    University in an annual competition amongst ROTC Units in the region through UP ROTC, the Best Corps.
                </p>
            </div>
        </div>

        <div class="right-column">
            <div class="card">
                <h2>About NSTP</h2>
                <img src="{% static 'image/r1.jpg' %}" alt="me" />
                <p>...</p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <img src="{% static 'image/r2.jpg' %}" alt="popular" />
                <img src="{% static 'image/r3.jpg' %}" alt="popular" />
                <img src="{% static 'image/r4.jpg' %}" alt="popular" />
            </div>

        </div>
    </div>

    <!-- FOOTER -->
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


</body>
</head>