<!DOCTYPE html>
<html lang="en"> {% load static %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css_admin/NavAdmin.css' %}" />
    <title>admin NAVBAR</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">

        <a class="navbar-brand" href="#">
            <img src="{% static 'image/tup.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
            <span class="nstp" id="nstp">NSTP</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admindashboard">Dashboard </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/approval">Pending Application</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/adminplatoon">ROTC Platoons</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admincwts">CWTS Sections</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/enrolledrotc">Platoon Update</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admincertificate">Certification</a>
                </li>
                <li class="nav-item active" id="log">
                    <a class="nav-link" href="/logout_user" id="logouts" style="text-decoration: none;"> Logout</a>
                </li>


            </ul>

        </div>

    </nav>

    <style>
        .navbar-nav {
            align-items: center!important;
        }
        
        .nav-link {
            color: rgb(255, 255, 255) !important;
        }
        
        .navbar-brand {
            color: aliceblue !important;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>

</html>