<!DOCTYPE html> {% load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>platoons</title>
    <link rel="stylesheet" href="{% static 'css/platoon.css' %}">
</head>

<body>
    {% include 'activities/studentnav.html' %}
    <div class="text">

        <h1 class="headtext"> ROTC Platoons</h1>
    </div>
    <hr>

    <div class="top">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">A</h5>
                        <p class="card-text">Alpha Company</p>
                        <a href="/student_alpha" style="text-decoration: none;"><button type="button" class="btn btn-info">Open</button></a>
                    </div>
                </div>
            </div><br>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">B</h5>
                        <p class="card-text">Bravo Company</p>
                        <a href="/student_bravo" style="text-decoration: none;"><button type="button" class="btn btn-info">Open</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">C</h5>
                        <p class="card-text">Charlie Company</p>
                        <a href="/student_charlie" style="text-decoration: none;"><button type="button" class="btn btn-info">Open</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">D</h5>
                        <p class="card-text">Delta Company</p>
                        <a href="/student_delta" style="text-decoration: none;"><button type="button" class="btn btn-info">Open</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div><br>


    <div class="top1">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">E</h5>
                        <p class="card-text">Echo Company</p>
                        <a href="/student_echo" style="text-decoration: none;"><button type="button" class="btn btn-info">Open</button></a>
                    </div>
                </div>
            </div><br>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">F</h5>
                        <p class="card-text">Foxtrot Company</p>
                        <a href="/student_foxtrot" style="text-decoration: none;"><button type="button" class="btn btn-info">Open</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">G</h5>
                        <p class="card-text">Golf Company</p>
                        <a href="/student_golf" style="text-decoration: none;"><button type="button" class="btn btn-info">Open</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">H</h5>
                        <p class="card-text">Hotel Company</p>
                        <a href="/student_hotel" style="text-decoration: none;"><button type="button" class="btn btn-info">Open</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="top2">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">I</h5>
                        <p class="card-text">India Company</p>
                        <a href="/student_india" style="text-decoration: none;"><button type="button" class="btn btn-info">Open</button></a>
                    </div>
                </div>
            </div><br>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">J</h5>
                        <p class="card-text">Juliet Company</p>
                        <a href="/student_juliet" style="text-decoration: none;"><button type="button" class="btn btn-info">Open</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">K</h5>
                        <p class="card-text">Kilo Company</p>
                        <a href="/student_kilo" style="text-decoration: none;"><button type="button" class="btn btn-info">Open</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">L</h5>
                        <p class="card-text">Lima Company</p>
                        <a href="/student_lima" style="text-decoration: none;"><button type="button" class="btn btn-info">Open</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>