<!DOCTYPE html> {% load static %}
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'css/studentnav.css' %}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--<title>Dashboard Sidebar Menu</title>-->
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                {% for n in name %}
                <span class="image">
                    <img  src="{{n.picture.url}}" alt="profile-pic">
                </span>

                <div class="text logo-text">

                    <span class="name">{{n.fname}} {{n.lname}}</span>
                    <span class="job" style="text-align:center;">student</span>

                </div>
                {% endfor %}
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/dashboard">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/profile">
                            <i class='bx bx-edit icon'></i>
                            <span class="text nav-text">Edit Profile</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/platoon">
                            <i class='bx bx-flag icon'></i>
                            <span class="text nav-text">ROTC Section</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/cwtss">
                            <i class='bx bx-intersect icon'></i>
                            <span class="text nav-text">CWTS Section</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Peoples</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/certification">
                            <i class='bx bx-certification icon'></i>
                            <span class="text nav-text">Certification</span>
                        </a>



                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/logout_user">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav><br>






    <!-- <section class="home">
        <div class="text" style="color: #387b3a;">Dashboard</div>
        <hr><br>
    </section><br> -->




    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");


        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })



        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });
    </script>

</body>

</html>