.headtext {
    font-size: 30px;
    margin-left: 10px;
    font-style: italic;
}

.cards {
    width: 90%;
    height: 100vh;
    justify-content: space-between;
    display: flex;
    margin: auto;
}

.card1 {
    width: 350px;
    height: 170px;
    background-color: rgb(169, 109, 109);
    border-radius: 5px;
}

.bi {
    color: rgb(255, 255, 255);
    font-size: 70px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

.dta {
    float: right;
}

#pending {
    background-color: #b93c32;
}

#enrolled {
    background-color: #45a54a;
}

#rotc {
    background-color: #fd8f23;
}

#cwts {
    background-color: #4a617b;
}

.counts {
    color: #ffffff;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}

.tit {
    color: #ffffff;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 40px;
}