@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

/* upload */

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1c5e94;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #1c5e94;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1c5e94;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1c5e94;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1c5e94;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: black;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #0e6ba8;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #0e6ba8;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #0f8d2a;
    border: none;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}


/* calendar */

html {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #444;
}

body {
    margin: 0;
    background: white;
    font-size: 1em;
    overflow-x: hidden;
}

.container {
    padding: 0;
    margin-top: 50px;
}

.container-calendar {
    background: #ffffff;
    padding: 0px;
    max-width: 475px;
    margin: 0 auto;
    overflow: auto;
    border: 1px solid black;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td,
.table-calendar th {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    font-weight: bold;
    outline: 2px solid red;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}


/* sunday */

.date-picker:nth-child(1) {
    color: red;
}

.date-picker:nth-child(7) {
    color: red;
}


/* friday */

.date-picker:nth-child(6) {
    color: green;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid black;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}

.inside-carou {
    width: 80%;
    height: 50%;
    margin: auto;
}

.carousel-inner {
    width: 100%;
    max-height: 460px !important;
}

.body2 {
    float: right;
}


/* calendar end */


/* navbar */

body {
    background-color: white;
}

h4 {
    color: #691a1b;
}

p {
    color: #691a1b;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#FAQS {
    margin-top: 10px;
    background: transparent;
}

#FAQS h1 {
    color: #691a1b;
    font-weight: bolder;
}

#logo img {
    width: 150px;
    height: auto;
}

#hamburger i {
    color: #691a1b;
    font-size: 30px;
}

.label {
    margin: 0;
    display: grid;
}

#signin-btn {
    color: #691a1b;
    border: 1px solid #691a1b;
}

#signin-btn:hover {
    background-color: #b10012;
}

#try1 {
    display: flex;
    margin: auto;
}

.frames {
    display: flex;
    margin-top: 50px;
}

.uploaded {
    border-style: solid;
    border-width: 2px;
    border-color: #afafaf;
    margin-left: 220px!important;
    background-color: #9999997b;
    float: right;
}

.uploades {
    border-style: solid;
    border-width: 2px;
    border-color: #afafaf;
    margin-left: 30px!important;
}

th {
    font-weight: bolder!important;
    font-size: 20px;
}

.view {
    background-color: #bd8906;
    width: 80px;
    height: 5px;
    cursor: pointer;
    margin: auto;
}

.view a {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.delete {
    background-color: #bd0609;
    width: 80px!important;
    height: 5px;
    cursor: pointer;
    padding-left: 10px;
}

.delete a {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}


/*Window size: tablet and phone*/

@media only screen and (max-width: 1000px) {
    #logo img {
        width: 60px;
        height: auto;
    }
    .label h4 {
        font-size: 15px;
    }
    #carouselExampleIndicators {
        height: 50vh;
    }
    #carousel-img img {
        height: 50vh;
    }
}


/*Window size: full screen or Computer*/

@media only screen and (max-width: 1200px) {
    .col-6 {
        display: flex;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .frames {
        display: flex;
        margin-top: 10px;
        height: 100vh;
        justify-content: center;
    }
    .file-upload {
        width: 300px;
        margin: auto;
    }
    .wrapper {
        width: 300px;
        margin: auto;
    }
}

@media only screen and (max-width: 570px) {
    .col-6 {
        display: flex;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .frames {
        display: grid;
        margin-top: 10px;
        height: 100vh;
        justify-content: center;
    }
    .file-upload {
        display: grid;
        width: 600px;
        margin: auto;
    }
    .wrapper {
        display: grid;
        width: 300px;
        margin: auto;
    }
}


/* navEnd */