.headtext {
    font-size: 30px;
    margin-left: 10px;
    font-style: italic;
}

.tableCon {
    margin-top: 10px;
    width: 90%;
    margin: auto;
}

#bttt {
    text-align: center;
}

.btn {
    font-weight: bolder !important;
}

.divv {
    float: right;
    width: 300px;
    height: 100px;
}

#send {
    float: right;
}

.sss {
    font-size: 20px;
    font-weight: bolder;
}