body {
    background-color: white;
}

main {
    padding: 20px 20px 20px 20px;
}

h4 {
    color: #691a1b;
}

#rows {
    position: fixed;
}

.inside {
    padding: 0%;
}

.containers {
    margin-left: 100px !important;
    margin-right: 100px;
    background-color: #ffffff;
    margin-top: 10px;
}

.table {
    margin-top: 0px !important;
}

.label {
    margin: 0;
    display: grid;
}

#signin-btn {
    color: #691a1b;
    border: 1px solid #691a1b;
}

#signin-btn:hover {
    background-color: #b10012;
}

#try1 {
    display: flex;
    margin: auto;
}

.count {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

.stats {
    width: 100%;
    background-color: rgb(107, 116, 116);
}

.group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #949494;
}

.groups {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #949494;
}

.cards {
    color: #000000;
    background-color: #dadada;
    height: 10vh;
    width: 8%;
    display: inline-flex;
}

.title {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}


/*Window size: tablet and phone*/