@media print {
    body *:not(#outer):not(#outer *) {
        visibility: hidden;
    }
    #outer {
        position: absolute;
        left: 0;
        top: 0;
    }
}

#outer {
    align-items: center;
    margin: auto;
}

body {
    background-color: rgb(255, 255, 255);
}

.line1 {
    border: solid 2px #000000;
}

h1 {
    font-size: 300px;
}

.outer {
    width: 1000px;
    height: 675px;
    padding: 1px;
    text-align: center;
    border: 4px solid #787878;
}

.inner2 {
    width: 990px;
    height: 663px;
    padding: 2px;
    text-align: center;
    border: 3px solid black;
}

.inner1 {
    width: 945px;
    height: 618px;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
}

.inner1 .line1 {
    font-size: 40px;
    font-weight: bold;
    color: darkred;
}

.inner1 .line2 {
    font-size: 25px;
    font-weight: bold;
}

.inner1 .name {
    font-size: 30px;
    font-weight: bold;
}

.inner1 .line4 {
    font-size: 25px;
    font-weight: bold;
}

.inner1 .line5 {
    font-size: 30px;
    font-weight: bold;
}

.inner1 .dated {
    font-size: 25p;
    font-weight: bold;
}

.inner1 .date {
    font-size: 25px;
    font-weight: bold;
}

#img1 {
    position: relative;
}

#img1 img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 80px;
}

#img2 {
    position: relative;
}

#img2 img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
}


/*.inner1 .background img {
	width: 400px;
	height: 400px;
	position: center;
	margin-left: auto;
	margin-right: auto;
	
}*/

.inner1 {
    background-image: url('static/image/236.png');
    background-position: center;
    background-size: 400px;
    background-repeat: no-repeat;
    background-origin: ;
}

.inner1 .up1 {
    font-size: 18px;
    color: #6a6d73;
}

.inner1 .up2 {
    font-size: 18px;
    color: #6a6d73;
}

.inner1 .up3 {
    font-weight: bold;
}

.inner1 .up4 {
    font-size: 18px;
    color: #6a6d73;
}

.inner1 .up5 {
    font-size: 18px;
    color: #6a6d73;
}

.inner1 .line7 {
    font-size: 20px;
    font-weight: bolder;
}

.inner1 .line8 {
    font-size: 35px;
    font-weight: bolder;
}

.inner1 .line9 {
    font-size: 15px;
    font-weight: bolder;
    color: #6a6d73;
}

.inner1 .line10 {
    font-size: 15px;
    font-weight: bolder;
    color: #6a6d73;
}

.inner1 .line11 {
    font-size: 25px;
    font-weight: bolder;
}

.inner1 .line12 {
    font-size: 16px;
    color: #6a6d73;
}

.lastline {
    font-weight: bold;
}

.bot {
    margin-top: 130px;
}

.outer {
    margin: auto;
}


/*@media screen and (max-width:900px) {

    .outer {
        width:600px;
		height:400px;
		padding:20px;
		text-align:center;
    }

	.inner1 {
		width:550px;
		height:350px;
		padding:20px;
		text-align:center;
		font-weight:bold;
		
	}

	.inner1 .line1 {
		font-size:30px;
		font-weight:bold;
	}


	.inner1 .line2 {
		font-size:15px;
		font-weight:bold;
	}

	.inner1 .name {
		font-size:20px;
		font-weight:bold;
	}

	.inner1 .line4 {
		font-size:15px;
		font-weight:bold;
	}

	.inner1 .line5 {
		font-size:20px;
		font-weight:bold;
	}

	.inner1 .dated {
		font-size:10p;
		font-weight:bold;
	}

	.inner1 .date {
		font-size: 15px;
		font-weight: bold;
	
}




	#img1 {
	    position: relative;
	}

	#img1 img {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    width: 60px;
	    height: 60px;
	}

	#img2 {
	    position: relative;
	}

	#img2 img {
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 60px;
	    height: 60px;
	}

	.inner1 {
		background-image: url('236.png') ;
		background-position: center;
		background-size: 300px;
		background-repeat: no-repeat;
		background-origin: ;

	}
}*/


/*
@media screen and (max-width:600px) {

    .outer {
        width:400px;
		height:300px;
		padding:20px;
		text-align:center;
    }

	.inner1 {
		width:350px;
		height:250px;
		padding:20px;
		text-align:center;
		font-weight:bold;
		
	}

	.inner1 .line1 {
		font-size:20px;
		font-weight:bold;
	}


	.inner1 .line2 {
		font-size:10px;
		font-weight:bold;
	}

	.inner1 .name {
		font-size:15px;
		font-weight:bold;
	}

	.inner1 .line4 {
		font-size:10px;
		font-weight:bold;
	}

	.inner1 .line5 {
		font-size:15px;
		font-weight:bold;
	}

	.inner1 .dated {
		font-size:5p;
		font-weight:bold;
	}

	.inner1 .date {
		font-size: 10px;
		font-weight: bold;
	
}




	#img1 {
	    position: relative;
	}

	#img1 img {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    width: 50px;
	    height: 50px;
	}

	#img2 {
	    position: relative;
	}

	#img2 img {
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 50px;
	    height: 50px;
	}

	.inner1 {
	background-image: url('236.png') ;
	background-position: center;
	background-size: 200px;
	background-repeat: no-repeat;
	background-origin: ;

}
}*/