body {
    overflow-x: hidden;
}

.top {
    padding: 10px;
}

.bottom {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 20px;
    margin-left: 10px;
    font-style: italic;
}

.card-title {
    font-size: 50px!important;
    text-align: center;
}

.card-text {
    font-size: 20px!important;
    text-align: center;
}

.btn {
    margin: auto !important;
    display: flex !important;
}