.top_list {
    display: flex;
    margin-left: 50px;
    height: 200px;
    justify-content: space-between;
    ;
}

.counts {
    border-radius: 6px;
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: #c7c7c7;
}