@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 20px 20px 20px 20px;
}

p {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
}

.top {
    display: flex;
    align-content: center;
}

.heads {
    background-color: rgb(8, 10, 11);
    color: #cdcdcd;
    text-align: center;
    font-size: 28px;
}

.profile {
    background-color: #ffffff;
    height: 200px;
    border-radius: 10px;
    justify-content: space-between;
    /* height: 30vh;
    width: 19%;
    margin: auto;
    border-radius: 10px; */
}

.platoon {
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: space-between;
    /* height: 30vh;
    width: 19%;
    margin: auto;
    display: inline-block;
    border-radius: 10px; */
}

.attendance {
    border-radius: 10px;
    background-color: #ffffff;
    /* height: 30vh;
    width: 19%;
    margin: auto;
    display: inline-block;
    border-radius: 10px; */
}

#drop {
    margin: auto;
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
}

.status {
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: space-between;
    /* height: 30vh;
    width: 19%;
    margin: auto;
    border-radius: 10px; */
}

.estatus {
    color: #000000;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 60px;
    text-align: center;
}

.detail {
    color: #000000;
    font-size: 20px;
    padding: 3px;
}

.grades {
    background-color: #ffffff;
    border-radius: 10px;
    /* height: 30vh;
    width: 19%;
    margin: auto; */
    /* border-radius: 10px; */
}

.left {
    float: left;
    width: 100%;
}

.right {
    float: right;
    width: 50%;
}

#FAQS {
    margin-top: 10px;
    background: transparent;
}

#logo img {
    width: 150px;
    height: auto;
}

#hamburger i {
    color: #691a1b;
    font-size: 30px;
}

.label {
    margin: 0;
    display: grid;
}

#try1 {
    display: flex;
    margin: auto;
}

.container {
    width: 100%;
    margin-bottom: 50px;
}


/*Window size: tablet and phone*/

@media only screen and (max-width: 1000px) {
    #logo img {
        width: 60px;
        height: auto;
    }
    .label h4 {
        font-size: 15px;
    }
    #carousel-img img {
        height: 50vh;
    }
}


/*Window size: full screen or Computer*/

.tableCon {
    margin-top: 30px;
}

.SearchBar {
    float: right;
}

html {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #444;
}

body {
    margin: 0;
    background: rgb(85, 78, 78);
    font-size: 1em;
}

.container-calendar {
    background: #ffffff;
    padding: 0px;
    /* max-width: 475px; */
    margin: 0 auto;
    overflow: auto;
    border: 1px solid black;
    margin-top: 50px;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td,
.table-calendar th {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

.date-picker.selected {
    font-weight: bold;
    outline: 2px solid red;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}


/* sunday */

.date-picker:nth-child(1) {
    color: red;
}

.date-picker:nth-child(7) {
    color: red;
}


/* friday */

.date-picker:nth-child(6) {
    color: green;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid black;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}

.inside-carou {
    width: 100%;
    height: 80%;
    margin: auto;
    padding: 30px;
}

.inside-carou img {
    border-style: solid;
    border-width: 5px;
}

.carousel-inner {
    width: 100%;
    max-height: 600px;
}

.top {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

@media screen and (max-width:1100px) {
    .top {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (max-width:800px) {
    .top {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (max-width:500px) {
    .top {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}