#nstpnav {
    padding: 30px 30px 30px 30px;
    background-color: black;
}

.navbar-toggler-icon {
    color: white;
}


/* Media Query */

@media only screen and (max-width:1000px) {
    #techUnivWord {
        display: none;
    }
}

@media only screen and (min-width:1000px) {
    #navbarSupportedContent {
        display: flex;
        justify-content: flex-end;
    }
    #navbarSupportedContent ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

a {
    color: white;
}