body {
    overflow-x: hidden;
}

.top,
.top1,
.top2 {
    padding: 10px;
}

.bottom {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.top3 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.bottom2 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.platoons {
    width: 220px;
    background-color: rgb(201, 190, 175);
    height: 200px;
    border-radius: 10px;
    border: solid 1px rgb(0, 0, 0);
    padding: 5px;
}

.names {
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.text {
    font-size: 20px;
    margin-left: 10px;
    font-style: italic;
}

.card-title {
    font-size: 50px!important;
    text-align: center;
}

.card-text {
    font-size: 20px!important;
    text-align: center;
}

.card-body {
    text-decoration: none !important;
    color: rgb(0, 0, 0);
}

.btn {
    margin: auto !important;
    display: flex !important;
}