.text {
    font-size: 20px;
    margin-left: 10px;
    font-style: italic;
}

.prof {
    height: auto;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    background-color: rgb(70, 70, 70);
    height: 70vh;
    padding: 10px;
}

.pics {
    width: 15%;
    float: left;
}

.pics .profile-pic {
    width: 100%;
}

.right {
    float: right;
    width: 80%;
}