.navbar-nav {
    align-items: center!important;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.navbar-brand {
    color: rgb(2, 24, 44) !important;
    display: flex;
    font-size: 100px;
}

#nstp {
    color: rgb(255, 255, 255)!important;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}