.navbar-nav {
    /* align-items: center!important; */
    width: 100%;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.navbar-brand {
    color: rgb(2, 24, 44) !important;
    display: flex;
    font-size: 100px;
}

#nstp {
    color: rgb(255, 255, 255)!important;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}

#log {
    color: rgb(255, 255, 255);
    float: right;
    width: 65%;
}

#logouts {
    float: right !important;
    width: 100%;
    right: 0;
    color: rgb(255, 255, 255);
    text-align: right;
}